.snakemake/
.snakemake_timestamp

data/
results/

referencias/*.fasta
referencias/*.fa
referencias/*.fna
referencias/*.gbk

*.png
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.sam
*.bam
*.bai
*.fasta
*.fa
*.fna
*.faa
*.gff
*.gff3
*.gbk
*.log

env/
venv/
.conda/
.env/
__pycache__/
*.pyc

.vscode/
.idea/
*.swp
